<div class="card border-0 rounded pb-3" style="min-width:45rem;">
    <div class="card-body overflow-auto" style="max-height:40rem;" >
        <div class="m-0 d-flex flex-row">
            <div class="card w-100 mr-3">
                <div class="card-header bg-dark text-light text-center">Entradas</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col text-center w-auto">Señal</th>
                            <th class="col text-center w-auto">Descripción</th>
                            <th class="col text-center w-auto">Estado</th>
                        </tr>
                    </thead>
                    <tbody>                                        
                        <tr>
                            <td class="align-middle text-center">I:0.00</td>
                            <td class="align-middle ">Botón de arranque</td>
                            <td class="align-middle text-center"><i id="I0_00" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.01</td>
                            <td class="align-middle ">Botón de paro</td>
                            <td class="align-middle text-center"><i id="I0_01" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.02</td>
                            <td class="align-middle ">Botón de reset</td>
                            <td class="align-middle text-center"><i id="I0_02" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.03</td>
                            <td class="align-middle ">Estatus del relevador</td>
                            <td class="align-middle text-center"><i id="I0_03" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.04</td>
                            <td class="align-middle ">Termostato</td>
                            <td class="align-middle text-center"><i id="I0_04" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.05</td>
                            <td class="align-middle ">Presostato</td>
                            <td class="align-middle text-center"><i id="I0_05" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.06</td>
                            <td class="align-middle ">Sensor nivel inferior Jinguan</td>
                            <td class="align-middle text-center"><i id="I0_06" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.07</td>
                            <td class="align-middle ">Sensor nivel inferior MPR</td>
                            <td class="align-middle text-center"><i id="I0_07" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.08</td>
                            <td class="align-middle ">Sensor nivel superior MPR</td>
                            <td class="align-middle text-center"><i id="I0_08" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.09</td>
                            <td class="align-middle ">Gripper</td>
                            <td class="align-middle text-center"><i id="I0_09" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.10</td>
                            <td class="align-middle ">Tarjetas tomadas de Jinguan</td>
                            <td class="align-middle text-center"><i id="I0_10" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.11</td>
                            <td class="align-middle ">Estado de Jinguan</td>
                            <td class="align-middle text-center"><i id="I0_11" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.12</td>
                            <td class="align-middle ">Estado de MPR</td>
                            <td class="align-middle text-center"><i id="I0_12" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.13</td>
                            <td class="align-middle ">Sensor contador de tarjetas de entrada de Jinguan</td>
                            <td class="align-middle text-center"><i id="I0_13" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.14</td>
                            <td class="align-middle ">Sensor contador de tarjetas de salida de Jinguan</td>
                            <td class="align-middle text-center"><i id="I0_14" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.15</td>
                            <td class="align-middle ">Sensor de rechazo MPR</td>
                            <td class="align-middle text-center"><i id="I0_15" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.16</td>
                            <td class="align-middle ">Sensor contador de tarjetas de entrada de MPR</td>
                            <td class="align-middle text-center"><i id="I0_16" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.17</td>
                            <td class="align-middle ">Sensor contador de tarjetas de salida de MPR</td>
                            <td class="align-middle text-center"><i id="I0_17" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.18</td>
                            <td class="align-middle ">Scara listo</td>
                            <td class="align-middle text-center"><i id="I0_18" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">I:0.19</td>
                            <td class="align-middle ">Scara error</td>
                            <td class="align-middle text-center"><i id="I0_19" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <div class="card w-100 h-auto">
                <div class="card-header bg-dark text-light text-center">Salidas</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col text-center w-auto">Señal</th>
                            <th class="col text-center w-auto">Descripción</th>
                            <th class="col text-center w-auto">Estado</th>
                        </tr>
                    </thead>
                    <tbody>                                        
                        <tr>
                            <td class="align-middle text-center">O:1.00</td>
                            <td class="align-middle ">Tarjetas predisponibles en PickPoint Jinguan</td>
                            <td class="align-middle text-center"><i id="O1_00" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:1.01</td>
                            <td class="align-middle ">Tomar tarjetas en PickPoint Jinguan</td>
                            <td class="align-middle text-center"><i id="O1_01" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:1.02</td>
                            <td class="align-middle ">Dejar tarjetas en DropPoint MPR</td>
                            <td class="align-middle text-center"><i id="O1_02" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:1.03</td>
                            <td class="align-middle ">Luz verde</td>
                            <td class="align-middle text-center"><i id="O1_03" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:1.04</td>
                            <td class="align-middle ">Luz amarilla</td>
                            <td class="align-middle text-center"><i id="O1_04" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:1.05</td>
                            <td class="align-middle ">Luz roja</td>
                            <td class="align-middle text-center"><i id="O1_05" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:1.06</td>
                            <td class="align-middle ">Iniciar Scara</td>
                            <td class="align-middle text-center"><i id="O1_06" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:1.07</td>
                            <td class="align-middle ">Continuar Scara</td>
                            <td class="align-middle text-center"><i id="O1_07" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:1.08</td>
                            <td class="align-middle ">Pausar Scara</td>
                            <td class="align-middle text-center"><i id="O1_08" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:1.09</td>
                            <td class="align-middle ">Resetear Scara</td>
                            <td class="align-middle text-center"><i id="O1_09" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:1.10</td>
                            <td class="align-middle ">Gripper</td>
                            <td class="align-middle text-center"><i id="O1_10" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:1.11</td>
                            <td class="align-middle ">Gripper retroaviso</td>
                            <td class="align-middle text-center"><i id="O1_11" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:2.00</td>
                            <td class="align-middle ">Arrancar Jinguan</td>
                            <td class="align-middle text-center"><i id="O2_00" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                        <tr>
                            <td class="align-middle text-center">O:2.01</td>
                            <td class="align-middle ">Pausar Jinguan</td>
                            <td class="align-middle text-center"><i id="O2_01" class="fas fa-circle text-secondary"></i></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>

</div>