<%- include partials/header.ejs %>
<main class="">
    <div class="mt-3">
        <div class="row m-0">
            <div class="col"></div>
            <div class="col-4 d-flex flex-column align-items-center">
                <div class="row h1 text-light">
                    <p>Cobot UR-004</p>
                </div>
                <div class="row">
                    <img class="img-fluid rounded mx-auto" src="img/bufferCobot.png" alt="Buffer-img" style="width: 25rem; height: 25rem;">
                    </img>
                </div>
                <!-- <div id="bandContainer" class="d-flex flex-row mt-2">
                    <div class="px-3 mb-3">
                        <input id="btnBandStartStop" type="button" class="btn btn-sm btn-success" value="Iniciar banda" style="width:10rem;">
                    </div>
                    <div class="px-3">
                        <input id="btnBandReset" type="button" class="btn btn-sm btn-primary" value="Resetear banda" style="width:10rem;">
                    </div>
                </div> -->
            </div>
            <div class="col-6">
                <%- include partials/nav.ejs %>
                <div class="tab-content" id="nav-tabContent">
                    <!--  ::::: START OF PRODUCTIONN SECTION ::::: -->
                    <div class="tab-pane fade show active" id="nav-production" role="tabpanel" aria-labelledby="nav-production-tab">
                        <div class="card border-0" style="border-radius: 0 0.25rem 0.25rem 0.25rem;">
                            <div class="card-body">
                                <!--  ::::: STATUS ROBOT ::::: -->
                                <div class="card border border-dark mb-3">
                                    <div class="row no-gutters">
                                        <div class="card-header col-4 bg-dark text-light d-flex justify-content-center align-items-center" style="border-radius: 0.25rem 0 0 0.25rem;">
                                            Estatus del sistema
                                        </div>
                                        <div class="col-8 px-3">
                                            <div class="row mx-auto py-2 border-bottom">
                                                <div class="col-6">
                                                    Cobot UR-004:
                                                </div>
                                                <div class="col-6">
                                                    <div id="statusRobot" class="text-success font-weight-bold text-center">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mx-auto py-2 border-bottom">
                                                <div class="col-6">
                                                    Seguridad:
                                                </div>
                                                <div class="col-6" id="">
                                                    <div id="statusSafety" class="text-danger font-weight-bold text-center">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mx-auto py-2 border-bottom">
                                                <div class="col-6">
                                                    Metronic-034:
                                                </div>
                                                <div class="col-6">
                                                    <div id="statusMetronic" class="text-danger font-weight-bold text-center">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mx-auto py-2 border-bottom">
                                                <div class="col-6">
                                                    ICI-034:
                                                </div>
                                                <div class="col-6">
                                                    <div id="statusICI01" class="text-danger font-weight-bold text-center">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mx-auto py-2 border-bottom">
                                                <div class="col-6">
                                                    ICI-032:
                                                </div>
                                                <div class="col-6">
                                                    <div id="statusICI02" class="text-danger font-weight-bold text-center">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  ::::: END OF STATUS ROBOT ::::: -->

                                <!--  ::::: COUNTER CARDS ::::: -->
                                <div class="card mb-3 border border-dark">
                                    <div class="row no-gutters">
                                        <div id="" class="col-4 px-3 card-header bg-dark text-light d-flex flex-column justify-content-center align-items-center" style="border-radius: 0.25rem 0 0 0.25rem;">
                                            <div class="row h-100 d-flex align-items-center">
                                                Conteo de tarjetas
                                            </div>
                                        </div>
                                        <div class="col-8 px-3">
                                            <div class="row py-2 mx-auto border-bottom">
                                                <div class="col-8">
                                                    Salida de Metronic-034:
                                                </div>
                                                <div class="col-4 d-flex justify-content-center align-items-center font-weight-bold">
                                                    <div id="cardsTaken" class="text-primary">
                                                        --
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row py-2 mx-auto border-bottom">
                                                <div class="col-8">
                                                    Entrada ICI-034:

                                                </div>
                                                <div class="col-4 d-flex justify-content-center align-items-center font-weight-bold">
                                                    <div id="cardsDroppedICI01" class="text-primary">
                                                        --
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row py-2 mx-auto border-bottom">
                                                <div class="col-8">
                                                    Entrada ICI-032:
                                                </div>
                                                <div class="col-4 d-flex justify-content-center align-items-center font-weight-bold">
                                                    <div id="cardsDroppedICI02" class="text-primary">
                                                        --
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row py-2 mx-auto border-bottom">
                                                <div class="col-6 pr-0">
                                                    Tarjetas en charola:
                                                </div>
                                                <div class="col-2 p-0 d-flex justify-content-center align-items-center font-weight-bold">
                                                    <div id="cardsContainerInputA" class="text-primary">
                                                        Cajon 01
                                                    </div>
                                                </div>
                                                <div class="col-4 d-flex justify-content-center align-items-center font-weight-bold">
                                                    <div id="cardsContainerInputB" class="text-primary">
                                                        Cajon 02
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row py-2 mx-auto">
                                                <div class="col-8">
                                                    Tarjetas rechazadas:
                                                </div>
                                                <div class="col-4 d-flex justify-content-center align-items-center font-weight-bold">
                                                    <div id="cardsRejected" class="text-primary">
                                                        --
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--  ::::: END OF COUNTER CARDS ::::: -->

                                <!--  ::::: BUFFER COBOT UR10 ::::: -->
                                <div class="card border border-dark">
                                    <div class="row no-gutters">
                                        <div id="headerBufferCobot" class="col-4 card-header px-3 bg-dark text-light d-flex flex-column justify-content-center align-items-center" style="border-radius: 0.25rem 0 0 0.25rem;">
                                            <div class="mb-2">
                                                Buffer de cobot UR10
                                            </div>
                                            <input type="button" id="btnResetBuffer" class="btn btn-sm btn-primary d-block w-100" value="Reset Buffer">
                                        </div>
                                        <div class="col-8 px-3">
                                            <div class="row py-2 mx-auto border-bottom">
                                                <div class="col-8">
                                                    Tarjetas en buffer:
                                                </div>
                                                <div class="col-4 d-flex justify-content-center align-items-center font-weight-bold">
                                                    <div id="cardsInBuffer" class="text-primary">
                                                        --
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row py-2 mx-auto">
                                                <div class="col-8">
                                                    Cajones ocupados:
                                                </div>
                                                <div class="col-4 d-flex justify-content-center align-items-center font-weight-bold">
                                                    <div id="drawersOccuped" class="text-primary">
                                                        --
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--  ::::: END OF BUFFER COBOT UR10 ::::: -->
                            </div>
                        </div>
                    </div>
                    <!--  ::::: END OF PRODUCTION SECTION ::::::: -->

                    <!--  ::::: START CONTROL SECTION ::::::: -->
                    <div class="tab-pane fade" id="nav-control" role="tabpanel" aria-labelledby="nav-control-tab">
                        <div class="card border-0 rounded">
                            <div class="card-body p-3">

                                <!--  ::::: GENERAL SETTINGS ::::::: -->
                                <div class="card mb-3 border border-dark">
                                    <div class="card-header bg-dark text-light">
                                        Ajustes Generales
                                    </div>
                                    <div class="card-body p-2">
                                        <div class="row w-100 mb-2 pb-2 d-flex align-items-center mx-auto border-bottom">
                                            <div class="col-6">
                                                Toma de Tarjetas
                                            </div>
                                            <form id="formSetPointCards" class="col-6 form-inline">
                                                <div class="col-6 d-flex justify-content-center">
                                                    <input class="text-center" id="inputSetPointCards" type="number" name="setCards" min="40" max="60" value="50" style="width: 80%;">
                                                </div>
                                                <div class="col-6 d-flex justify-content-center">
                                                    <input type="submit" class="btn btn-success btn-sm" value="Aceptar">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="row w-100 d-flex align-items-center mx-auto">
                                            <div class="col-6">
                                                Cambio de formato
                                            </div>
                                            <div class="col-3 text-center">
                                                <input type="button" id="btnChangeFormat" class="btn btn-sm btn-success" value="Aceptar">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  ::::: END OF GENERAL SETTINGS ::::::: -->

                                <!--  ::::: PROCESS CONTROL ::::::: -->
                                <div class="card border border-dark">
                                    <div class="row no-gutters">
                                        <div class="col-4 card-header bg-dark text-light d-flex justify-content-center align-items-center" style="border-radius: 0.25rem 0 0 0.25rem;">
                                            Control de Proceso
                                        </div>
                                        <div class="col-8 px-3 py-2">
                                            <div class="row py-2 mx-auto">
                                                Selecciona el modo de operación:
                                            </div>
                                            <div class="row px-3 py-2 mx-auto border-bottom">
                                                <form action="" id="formOperationMode" method="" class="row w-100 mx-auto justify-content-center">
                                                    <div class="col-5 custom-control custom-switch">
                                                        <input type="checkbox" id="checkboxMetronic" class="custom-control-input" name="checkboxMetronic">
                                                        <label class="custom-control-label" for="checkboxMetronic">Metronic</label>
                                                    </div>
                                                    <div class="col-5 custom-control custom-switch">
                                                        <input type="checkbox" id="checkboxBuffer" class="custom-control-input" name="Buffer">
                                                        <label class="custom-control-label" for="checkboxBuffer">Buffer</label>
                                                    </div>
                                                    <div class="col-5 custom-control custom-switch">
                                                        <input type="checkbox" id="checkboxICI01" class="custom-control-input" name="ICI01">
                                                        <label class="custom-control-label" for="checkboxICI01">ICI-034</label>
                                                    </div>
                                                    <div class="col-5 custom-control custom-switch">
                                                        <input type="checkbox" id="checkboxICI02" class="custom-control-input" name="ICI02">
                                                        <label class="custom-control-label" for="checkboxICI02">ICI-032</label>
                                                    </div>
                                                    <div class="col-10 mx-auto mt-3">
                                                        <input type="submit" class="btn btn-sm btn-success d-block w-100" value="Aceptar"></button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="row py-2 mx-auto d-flex align-items-center">
                                                <div class="col-7">
                                                    Abrir Gripper
                                                </div>
                                                <div class="col-5 text-center">
                                                    <input type="button" id="btnOpenGripper" name="" class="btn btn-success btn-sm" value="Aceptar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  ::::: END OF PROCESS CONTROL ::::::: -->
                            </div>
                        </div>
                    </div>
                    <!--  ::::: END OF CONTROL SECTION ::::::: -->

                    <!--  ::::: MONITORING SECTION ::::::: -->
                <div class="tab-pane fade" id="nav-monitoring" role="tabpanel" aria-labelledby="nav-monitoring-tab">
                    <div class="card border-0 rounded pb-3" style="min-width:45rem;">
                        <div class="card-body overflow-auto" style="max-height:40rem;" >
                            <div class="m-0 d-flex flex-row">
                                <div class="card w-100 mr-3">
                                    <div class="card-header bg-dark text-light text-center">Entradas</div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="col text-center w-auto">Señal</th>
                                                <th class="col text-center w-auto">Descripción</th>
                                                <th class="col text-center w-auto">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                        
                                            <tr>
                                                <td class="align-middle text-center">I:0.00</td>
                                                <td class="align-middle ">Botón de arranque</td>
                                                <td class="align-middle text-center"><i id="I0_00" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.01</td>
                                                <td class="align-middle ">Botón de paro</td>
                                                <td class="align-middle text-center"><i id="I0_01" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.02</td>
                                                <td class="align-middle ">Botón de reset</td>
                                                <td class="align-middle text-center"><i id="I0_02" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.03</td>
                                                <td class="align-middle ">Estatus del relevador</td>
                                                <td class="align-middle text-center"><i id="I0_03" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.04</td>
                                                <td class="align-middle ">Termostato</td>
                                                <td class="align-middle text-center"><i id="I0_04" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.05</td>
                                                <td class="align-middle ">Presostato</td>
                                                <td class="align-middle text-center"><i id="I0_05" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.06</td>
                                                <td class="align-middle ">Sensor en charola de Metronic 002</td>
                                                <td class="align-middle text-center"><i id="I0_06" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.07</td>
                                                <td class="align-middle ">Sensor contador en charola de Metronic</td>
                                                <td class="align-middle text-center"><i id="I0_07" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.08</td>
                                                <td class="align-middle ">Sensor en charola de Metronic</td>
                                                <td class="align-middle text-center"><i id="I0_08" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.09</td>
                                                <td class="align-middle ">Sensor nivel superor ICI-034</td>
                                                <td class="align-middle text-center"><i id="I0_09" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.10</td>
                                                <td class="align-middle ">Sensor nivel superior ICI-032</td>
                                                <td class="align-middle text-center"><i id="I0_10" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.11</td>
                                                <td class="align-middle ">Gripper</td>
                                                <td class="align-middle text-center"><i id="I0_11" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.12</td>
                                                <td class="align-middle ">Falla en banda</td>
                                                <td class="align-middle text-center"><i id="I0_12" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.13</td>
                                                <td class="align-middle ">Tarjetas tomadas de Metronic</td>
                                                <td class="align-middle text-center"><i id="I0_13" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.14</td>
                                                <td class="align-middle ">Estado de la Metronic</td>
                                                <td class="align-middle text-center"><i id="I0_14" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.15</td>
                                                <td class="align-middle ">Sensor contador primera cara</td>
                                                <td class="align-middle text-center"><i id="I0_15" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.16</td>
                                                <td class="align-middle ">Sensor contador segunda cara</td>
                                                <td class="align-middle text-center"><i id="I0_16" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">I:0.17</td>
                                                <td class="align-middle ">Sensor de rechazo</td>
                                                <td class="align-middle text-center"><i id="I0_17" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </div>

                                <div class="card w-100 h-auto">
                                    <div class="card-header bg-dark text-light text-center">Salidas</div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="col text-center w-auto">Señal</th>
                                                <th class="col text-center w-auto">Descripción</th>
                                                <th class="col text-center w-auto">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                        
                                            <tr>
                                                <td class="align-middle text-center">O:1.00</td>
                                                <td class="align-middle ">Tarjetas disponibles en PickPoint 001</td>
                                                <td class="align-middle text-center"><i id="O1_00" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:1.01</td>
                                                <td class="align-middle ">Tarjetas disponibles en PickPoint 002</td>
                                                <td class="align-middle text-center"><i id="O1_01" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:1.02</td>
                                                <td class="align-middle ">Dejar tarjetas en DropPoint 001</td>
                                                <td class="align-middle text-center"><i id="O1_02" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:1.03</td>
                                                <td class="align-middle ">Dejar tarjetas en DropPoint 002</td>
                                                <td class="align-middle text-center"><i id="O1_03" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:1.04</td>
                                                <td class="align-middle ">Luz verde</td>
                                                <td class="align-middle text-center"><i id="O1_04" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:1.05</td>
                                                <td class="align-middle ">Luz amarilla</td>
                                                <td class="align-middle text-center"><i id="O1_05" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:1.06</td>
                                                <td class="align-middle ">Luz roja</td>
                                                <td class="align-middle text-center"><i id="O1_06" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:1.07</td>
                                                <td class="align-middle ">Arrancar UR10</td>
                                                <td class="align-middle text-center"><i id="O1_07" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:1.08</td>
                                                <td class="align-middle ">Pausar UR10</td>
                                                <td class="align-middle text-center"><i id="O1_08" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:1.09</td>
                                                <td class="align-middle ">Gripper actuador</td>
                                                <td class="align-middle text-center"><i id="O1_09" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:1.10</td>
                                                <td class="align-middle ">Gripper retroaviso</td>
                                                <td class="align-middle text-center"><i id="O1_10" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:1.11</td>
                                                <td class="align-middle ">Arranque banda</td>
                                                <td class="align-middle text-center"><i id="O1_11" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:2.00</td>
                                                <td class="align-middle ">Paro banda</td>
                                                <td class="align-middle text-center"><i id="O2_00" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:2.01</td>
                                                <td class="align-middle ">Reset banda</td>
                                                <td class="align-middle text-center"><i id="O2_01" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:2.02</td>
                                                <td class="align-middle ">Pistón de charola</td>
                                                <td class="align-middle text-center"><i id="O2_02" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:2.03</td>
                                                <td class="align-middle ">Mover charola 001</td>
                                                <td class="align-middle text-center"><i id="O2_03" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:2.04</td>
                                                <td class="align-middle ">Mover charola 002</td>
                                                <td class="align-middle text-center"><i id="O2_04" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:2.05</td>
                                                <td class="align-middle ">Arancar banda</td>
                                                <td class="align-middle text-center"><i id="O2_05" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:2.06</td>
                                                <td class="align-middle ">Pausar banda</td>
                                                <td class="align-middle text-center"><i id="O2_06" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle text-center">O:2.07</td>
                                                <td class="align-middle ">Reset banda</td>
                                                <td class="align-middle text-center"><i id="O2_07" class="fas fa-circle text-secondary"></i></td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                    <!--  ::::: END OF MONITORING SECTION ::::::: -->
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div>
        <div id="iconPLC" title="Conexión con el PLC">
            <div class="iconPLC bg-danger p-3 rounded-circle d-flex justify-content-center align-items-center" style="width:4rem;">
                <i class="fas fa-hdd text-light h2 m-0 p-0"></i>
            </div>
            <div class="iconPLC faa-burst animated bg-danger p-3 rounded-circle d-flex" style="width:4rem;">
                <i class="fas fa-hdd text-light h2 m-0 p-0"></i>
            </div>
        </div>

    </div>
</main>
<script>
    /* 
        ** This script manage the control
        of the band's buttons. 
    */
    $('#btnBandStartStop').on('click', () => {
        let bandStatus;
        // $('#btnBandStartStop').toggleClass('btn-success');
        // $('#btnBandStartStop').toggleClass('btn-danger');
        
        if($('#btnBandStartStop').hasClass('btn-danger')){
            // $('#btnBandStartStop').prop('value', 'Iniciar banda');
            bandStatus = 0;
        } else if($('#btnBandStartStop').hasClass('btn-success')){
            // $('#btnBandStartStop').prop('value', 'Pausar banda');
            bandStatus = 1;
        }
        $.ajax({
            url: '/bandStartStop',
            type: 'POST',
            data: {
                bandStatus: bandStatus    // 1 -> True 
            },
            success: function () {
                toastr.success('Datos enviados correctamente');
            }
        });
    });

    $('#btnBandReset').on('click', () => {
        $.ajax({
            url: '/bandReset',
            type: 'POST',
            data: {
                bandReset: 1    // 1 -> True 
            },
            success: function () {
                toastr.success('Datos enviados correctamente');
            }
        });
    });
</script>

<script>
    /* 
        ** This script catch the data sended from the server when the page is loaded
        and initialize the state of each button and each field. **
    */

    var cobotUR10 = <%- dataCobot %>; // dataCobot: variable sent with the render of the window.
    console.log(cobotUR10);

    let operationMode;
    //console.log(localStorage);

    if (localStorage.cobotUR10 == undefined) {
        operationMode =  {
            cobotUR10: {
                stateMetronic: '1',
                stateBuffer: '1',
                stateICI01: '1',
                stateICI02: '1'
            }
        }

        localStorage.cobotUR10 = JSON.stringify(operationMode.cobotUR10);

    } else {
        //console.log(localStorage.cobotUR10);
        operationMode = {
            cobotUR10: JSON.parse(localStorage.cobotUR10)
        }         
    }

    //console.log(operationMode);
    $.ajax({
        url: '/clientConnected/cobotUR10',
        type: 'POST',
        data: operationMode.cobotUR10,
        success: function(){

            /* Initializing the operationMode´s switches --------------> */
            //console.log('operationMode:', operationMode.cobotUR10);
            operationMode.cobotUR10.stateMetronic == '1' ? $('#checkboxMetronic').prop('checked', true) : $('#checkboxMetronic').prop('checked', false);
            operationMode.cobotUR10.stateBuffer == '1' ? $('#checkboxBuffer').prop('checked', true) : $('#checkboxBuffer').prop('checked', false);
            operationMode.cobotUR10.stateICI01 == '1' ? $('#checkboxICI01').prop('checked', true) : $('#checkboxICI01').prop('checked', false);
            operationMode.cobotUR10.stateICI02 == '1'? $('#checkboxICI02').prop('checked', true) : $('#checkboxICI02').prop('checked', false);
            /* <-------------------------------------------------------- */
        }
    })

    if (cobotUR10.statusModbusPLC) {

        connectionWithPLCEstablished();

        /* Initializing the value of setPointCards input ----------> */
            $('#inputSetPointCards').val(parseInt(cobotUR10.control.general.setPointCards));
        /* <-------------------------------------------------------- */

        /* Set the initial state of the band button ---------------> */
            if(!cobotUR10.bandMetronic.pause) {
                $('#btnBandStartStop').prop('value', 'Iniciar banda');
                $('#btnBandStartStop').addClass('btn-success');
                $('#btnBandStartStop').removeClass('btn-danger');
            } else {
                $('#btnBandStartStop').prop('value', 'Pausar banda');
                $('#btnBandStartStop').addClass('btn-danger');
                $('#btnBandStartStop').removeClass('btn-success');
            }
        /* <-------------------------------------------------------- */

        /* Initializing the operationMode´s switches --------------> */
            if (cobotUR10.control.process.stateMetronic == '1') {$('#checkboxMetronic').prop('checked', true);}
            if (cobotUR10.control.process.stateBuffer == '1') {$('#checkboxBuffer').prop('checked', true);}
            if (cobotUR10.control.process.stateICI01 == '1') {$('#checkboxICI01').prop('checked', true);}
            if (cobotUR10.control.process.stateICI02 == '1') {$('#checkboxICI02').prop('checked', true);}
        /* <-------------------------------------------------------- */

        /* Initializing the state of the openGripper button -------> */
            if (cobotUR10.control.process.openGripper == '1') {
                $('#btnOpenGripper').attr('value', 'Reset');
                $('#btnOpenGripper').removeClass('btn-success');
                $('#btnOpenGripper').addClass('btn-primary');
            }
        /* <-------------------------------------------------------- */

    } else {    // Disable al the buttons if there is no connection with the PLC.
        connectionWithPLCLost();
    }

    /* Keep active CobotUR10 element of the nav bar -----------> */
        if (cobotUR10.id == 'cobotUR10'){
            $('#navCobotUR10').addClass('navActive');
            $('#navICI01').removeClass('navActive');
            $('#navICI02').removeClass('navActive');
            $('#navJinguan01').removeClass('navActive');
            $('#navJinguan02').removeClass('navActive');
        }
    /* <-------------------------------------------------------- */

    /*  This button resets all the lot counters ---------------->*/
        $('#btnResetLotCardsCounters').on('click', () => {
            $.ajax({
                url: '/resetLotCardsCounters',
                type: 'POST',
                data: {
                    resetLotCardsCounters: 1    // 1 -> True 
                },
                success: function () {
                    toastr.warning('Contadores Reiniciados');
                }
            })
        })
    /* <-------------------------------------------------------- */

    function connectionWithPLCLost() {

        /* Set the color of the Modbus PLC icon -------------------> */
            $('.iconPLC').addClass('bg-danger');
            $('.iconPLC').removeClass('bg-success');
        /* <-------------------------------------------------------- */

        /* Diasble the band´s buttons -----------------------------> */ 
            $('#btnBandStartStop').prop('disabled', true);
            $('#btnBandReset').prop('disabled', true);
            $('#btnBandStartStop').removeClass('btn-success');
            $('#btnBandStartStop').removeClass('btn-danger');
            $('#btnBandStartStop').addClass('btn-secondary');
            $('#btnBandReset').addClass('btn-secondary');
            $("#btnBandStartStop").css('cursor','context-menu');
            $("#btnBandReset").css('cursor','context-menu');
        /* <-------------------------------------------------------- */

        /* Diasble the resetLotCardsCounters button ---------------> */ 
            $('#btnResetLotCardsCounters').prop('disabled', true);
            $('#btnResetLotCardsCounters').removeClass('btn-warning');
            $('#btnResetLotCardsCounters').addClass('btn-secondary');
            $("#btnResetLotCardsCounters").css('cursor','context-menu');
        /* <-------------------------------------------------------- */

        /* Disable all the buttons inside the nav-tabContent div --> */
            $("#nav-tabContent *").children().prop('disabled',true);
            $("#nav-tabContent *").css('cursor','context-menu');
            $("#nav-tabContent").find(':input').removeClass('btn-success');
            $("#nav-tabContent").find(':input').addClass('btn-secondary');
        /* <-------------------------------------------------------- */
    }
    function connectionWithPLCEstablished() {
        /* Set the color of the Modbus PLC icon -------------------> */
            $('.iconPLC').addClass('bg-success');
            $('.iconPLC').removeClass('bg-danger');
        /* <-------------------------------------------------------- */

        /* Enable the resetLotCardsCounters button ----------------> */ 
            $('#btnResetLotCardsCounters').prop('disabled', false);
            $("#btnResetLotCardsCounters").css('cursor','pointer');
            $('#btnResetLotCardsCounters').removeClass('btn-secondary');
            $('#btnResetLotCardsCounters').addClass('btn-warning');
        /* <-------------------------------------------------------- */

        /* Set the initial state of the band button ---------------> */
            if(!cobotUR10.bandMetronic.pause) {
                $('#btnBandStartStop').prop('value', 'Iniciar banda');
                $('#btnBandStartStop').addClass('btn-success');
                $('#btnBandStartStop').removeClass('btn-danger');
            } else {
                $('#btnBandStartStop').prop('value', 'Pausar banda');
                $('#btnBandStartStop').addClass('btn-danger');
                $('#btnBandStartStop').removeClass('btn-success');
            }
        /* <-------------------------------------------------------- */
        
        /* Enable the band´s buttons ------------------------------> */ 
            $('#btnBandStartStop').prop('disabled', false);
            $('#btnBandReset').prop('disabled', false);
            $('#btnBandStartStop').removeClass('btn-secondary');
            $('#btnBandReset').removeClass('btn-secondary');
            $("#btnBandStartStop").css('cursor','pointer');
            $("#btnBandReset").css('cursor','pointer');
        /* <-------------------------------------------------------- */

        /* Enable all the elements inside the nav-tabContent ------> */
            $("#nav-tabContent *").children().prop('disabled',false);
            $("#nav-tabContent").find(':input').removeClass('btn-secondary');
            $("#nav-tabContent").find(':submit').removeClass('btn-secondary');
            $("#nav-tabContent").find(':submit').css('cursor','pointer');  
            $("#nav-tabContent").find(':input[type=button]').css('cursor','pointer');  
            $("#nav-tabContent").find(':input[value=Aceptar]').addClass('btn-success');
            $("#nav-tabContent").find(':submit').addClass('btn-success');
        /* <-------------------------------------------------------- */

        /* Initializing the state of the changeFormat button ------> */
            if (cobotUR10.control.general.changeFormat == '0'){
                $('#btnChangeFormat').prop('disabled', false);
                $('#btnChangeFormat').removeClass('btn-secondary');
                $('#btnChangeFormat').addClass('btn-success');
                $('#btnChangeFormat').removeClass('pointer');
            } else {
                $('#btnChangeFormat').prop('disabled', true);
                $('#btnChangeFormat').addClass('btn-secondary');
                $('#btnChangeFormat').removeClass('btn-success');
                $('#btnChangeFormat').css('cursor', 'context-menu');                            
            }
        /* <-------------------------------------------------------- */
    }
</script>

<script>
    /* ......................................
        ** This script controls all the tasks
        on the 'Produccion' section** 
    .........................................*/
    setInterval(() => {
        $.get(`/cobotUR10/Production/getData`, (data) => {
            console.log(data);
            if (data  == 'ClientDisconnected') {
                window.location.reload();
            } else{
                cobotUR10 = data;
            }
        });

        $('#statusRobot').text(cobotUR10.production.status.robot);
        if (!cobotUR10.statusModbusPLC){
            $('#statusSafety').text('Sin conexión con el PLC');
            $('#statusMetronic').text('Sin conexión con el PLC');
            $('#statusICI01').text('Sin conexión con el PLC');
            $('#statusICI02').text('Sin conexión con el PLC');
            connectionWithPLCLost();
        } else {
            connectionWithPLCEstablished();
            if (cobotUR10.production.status.safety) {
                $('#statusSafety').removeClass('text-danger');
                $('#statusSafety').addClass('text-success');
                $('#statusSafety').text('Seguridad OK');
            } else {
                $('#statusSafety').removeClass('text-success');
                $('#statusSafety').addClass('text-danger');
                $('#statusSafety').text('Paro de emergencia activado');
            }
            if (cobotUR10.production.status.metronic) {
                $('#statusMetronic').removeClass('text-danger');
                $('#statusMetronic').addClass('text-success');
                $('#statusMetronic').text('Trabajando');
            } else {
                $('#statusMetronic').removeClass('text-success');
                $('#statusMetronic').addClass('text-danger');
                $('#statusMetronic').text('Detenida');
            }
            if (cobotUR10.production.status.ICI01) {    //True
                $('#statusICI01').removeClass('text-danger');
                $('#statusICI01').addClass('text-success');
                $('#statusICI01').text('Trabajando');
            } else if (!cobotUR10.production.status.ICI01){     //False
                $('#statusICI01').removeClass('text-success');
                $('#statusICI01').addClass('text-danger');
                $('#statusICI01').text('Detenida');
            } else {
                $('#statusICI01').removeClass('text-success');
                $('#statusICI01').addClass('text-danger');
                $('#statusICI01').text('Detenida');

            }
            if (cobotUR10.production.status.ICI02) {
                $('#statusICI02').removeClass('text-danger');
                $('#statusICI02').addClass('text-success');
                $('#statusICI02').text('Trabajando');
            } else {
                $('#statusICI02').removeClass('text-success');
                $('#statusICI02').addClass('text-danger');
                $('#statusICI02').text('Detenida');
            }

            $('#cardsTaken').text(cobotUR10.production.cardsCounters.takenFromMetronic);
            $('#cardsDroppedICI01').text(cobotUR10.production.cardsCounters.droppedOnICI01);
            $('#cardsDroppedICI02').text(cobotUR10.production.cardsCounters.droppedOnICI02);
            $('#cardsContainerInputA').text(cobotUR10.production.cardsCounters.cardsContainer.inputA);
            $('#cardsContainerInputB').text(cobotUR10.production.cardsCounters.cardsContainer.inputB);
            $('#cardsRejected').text(cobotUR10.production.cardsCounters.cardsRejected);
            var drawersOccuped = 119 - parseInt(cobotUR10.production.cobotBuffer.drawersOccuped.formatB) + parseInt(cobotUR10.production.cobotBuffer.drawersOccuped.formatA);
            $('#drawersOccuped').text(drawersOccuped);
            
            //Set the value of Cards in Buffer
            cobotUR10.production.cobotBuffer.bufferCards = parseInt(drawersOccuped) * parseInt(cobotUR10.control.general.setPointCards);
            $('#cardsInBuffer').text(cobotUR10.production.cobotBuffer.bufferCards);
            
        }

    }, 100);

    /* Button to reset the Buffer -------------------->  */
        $('#btnResetBuffer').on('click', () => {
            $.ajax({
                url: '/cobotUR10/Production/resetBuffer',
                type: 'POST',
                data: {
                    resetBuffer: 1      // 1 -> True
                },
                success: function () {
                    toastr.success('Datos enviados correctamente');
                }
            })
        })
    /* <------------------------------------------------ */
</script>

<script>
    /* ......................................
        ** This script controls all the tasks
        on the 'Control' section** 
    .........................................*/

    /* Socket IO --------------------------------------> */
        const socket = io();
        socket.on('endChangeFormat', () => {
            $('#checkboxICI01').prop('checked', false);
            toastr.success('Hola IO');
        });
    /* ------------------------------------------------> */

    /* Form to set the value of 'Toma de Tarjetas' ----> */
        $('#formSetPointCards').submit((e) => {
            e.preventDefault();
            let setPointCards = $('#inputSetPointCards').val()

            $.ajax({
                url: '/cobotUR10/Control/setPointCards',
                type: 'POST',
                data: {
                    setPointCards: setPointCards    //setPointCards = Number
                },
                success: function() {
                    toastr.success('Datos enviados correctamente');
                }
            })
        })
    /* <------------------------------------------------ */

    /* Button to changeFormat -------------------------> */
        $('#btnChangeFormat').on('click', () => {
            $.ajax({
                url: '/cobotUR10/Control/changeFormat',
                type: 'POST',
                data: {
                    changeFormat: 1     // 1 -> True (trigger)
                },
                success: function () {
                    toastr.success('Datos enviados correctamente');

                    let cobotUR10 = JSON.parse(localStorage.cobotUR10);
                    cobotUR10.stateICI02 = '0';
                    localStorage.cobotUR10 = JSON.stringify(cobotUR10);

                    $('#checkboxICI02').prop('checked', false);
                }
            }) 
        });
    /* <------------------------------------------------ */

    /* Form to set the operationMode ------------------> */
        $('#formOperationMode').submit((e) => {
            e.preventDefault();
            var stateMetronic;
            var stateBuffer;
            var stateICI01;
            var stateICI02;
            if ($('#checkboxMetronic').prop('checked') == true) {
                stateMetronic = 1;      // 1 -> True 
            } else if ($('#checkboxMetronic').prop('checked') == false) {
                stateMetronic = 0;      // 0 -> False
            }

            if ($('#checkboxBuffer').prop('checked') == true) {
                stateBuffer = 1;    // 1 -> True
            } else if ($('#checkboxBuffer').prop('checked') == false) {
                stateBuffer = 0;    // 0 -> False
            }

            if ($('#checkboxICI01').prop('checked') == true) {
                stateICI01 = 1;    // 1 -> True
            } else if ($('#checkboxICI01').prop('checked') == false) {
                stateICI01 = 0;    // 0 -> False
            }

            if ($('#checkboxICI02').prop('checked') == true) {
                stateICI02 = 1;    // 1 -> True
            } else if ($('#checkboxICI02').prop('checked') == false) {
                stateICI02 = 0;    // 0 -> False
            }

            $.ajax({
                url: '/cobotUR10/Control/operationMode',
                type: 'POST',
                data: {
                    stateMetronic: stateMetronic,
                    stateBuffer: stateBuffer,
                    stateICI01: stateICI01,
                    stateICI02: stateICI02
                },
                success: function() {
                    toastr.success('Datos enviados correctamente');

                    if (stateMetronic == 1){
                        $('#btnTakeCards').prop('disabled', false);
                        $('#btnTakeCards').removeClass('btn-secondary');
                        $('#btnTakeCards').addClass('btn-success');
                    } else {
                        $('#btnTakeCards').prop('disabled', true);
                        $('#btnTakeCards').addClass('btn-secondary');
                        $('#btnTakeCards').removeClass('btn-success');                
                    }

                    let cobotUR10 = {
                        stateMetronic: stateMetronic,
                        stateBuffer: stateBuffer,
                        stateICI01: stateICI01,
                        stateICI02: stateICI02
                    }
                    localStorage.cobotUR10 = JSON.stringify(cobotUR10);
                }
            })
        })
    /* <------------------------------------------------ */

    /* Button to force the robot to open the Gripper --> */
        $('#btnOpenGripper').on('click', () => {
            let openGripper;
            if ($('#btnOpenGripper').hasClass('btn-success')) {openGripper = 1}
            if ($('#btnOpenGripper').hasClass('btn-primary')) {openGripper = 0}
            $.ajax({
                url: '/cobotUR10/Control/openGripper',
                type: 'POST',
                data: {
                    openGripper: openGripper
                },
                success: function() {
                    toastr.success('Datos enviados correctamente');
                    $('#btnOpenGripper').toggleClass('btn-success');
                    $('#btnOpenGripper').toggleClass('btn-primary');
                    if ($('#btnOpenGripper').hasClass('btn-success'))
                        $('#btnOpenGripper').attr('value', 'Aceptar');
                    if ($('#btnOpenGripper').hasClass('btn-primary'))
                        $('#btnOpenGripper').attr('value', 'Reset');
                    

                }
            })
        })
    /* <------------------------------------------------ */

    /* Button to set the generalReset -----------------> */
        $('#btnGeneralReset').on('click', () => {
            $.ajax({
                url: '/UR10/Control/generalReset',
                type: 'POST',
                data: {
                    generalReset: 1
                },
                success: function() {
                    toastr.success('Datos enviados correctamente');
                }
            })
        })
    /* <------------------------------------------------ */

</script>

<script>
    /* ......................................
        ** This script controls the
         'Monitoreo' section** 
    .........................................*/
    var _inputs = [
        'I0_00',
        'I0_01',
        'I0_02',
        'I0_03',
        'I0_04',
        'I0_05',
        'I0_06',
        'I0_07',
        'I0_08',
        'I0_09',
        'I0_10',
        'I0_11',
        'I0_12',
        'I0_13',
        'I0_14',
        'I0_15',
        'I0_16',
        'I0_17'
    ];
    var _outputs = [
        'O1_00',
        'O1_01',
        'O1_02',
        'O1_03',
        'O1_04',
        'O1_05',
        'O1_06',
        'O1_07',
        'O1_08',
        'O1_09',
        'O1_10',
        'O1_11',
        'O2_00',
        'O2_01',
        'O2_02',
        'O2_03',
        'O2_04',
        'O2_05',
        'O2_06',
        'O2_07'
    ]

    setInterval(async function()  {
        for (let i = 0 ; i < 18; i++) {
            await inputSignals(_inputs[i]);
        }
        for (let i = 0 ; i < 17; i++) {
            await outputSignals(_outputs[i]);}
    }, 1000);

    async function inputSignals(id) {
        if (cobotUR10.monitoring.inputs[`${id}`] == true){
            $(`#${id}`).removeClass('text-secondary');
            $(`#${id}`).addClass('text-success');
        } else {
            $(`#${id}`).removeClass('text-success');
            $(`#${id}`).addClass('text-secondary');
        }
    }
    async function outputSignals(id) {
        if (cobotUR10.monitoring.outputs[`${id}`] == true){
            $(`#${id}`).removeClass('text-secondary');
            $(`#${id}`).addClass('text-success');
        } else {
            $(`#${id}`).removeClass('text-success');
            $(`#${id}`).addClass('text-secondary');
        }
    }
</script>

<%- include partials/footer.ejs %>