<%- include partials/header.ejs %>
<main class="py-3">
    <div class="px-5 d-flex flex-row">
        <div class="col-4  p-0">
        </div>
        <div class="col-3 p-0 d-flex justify-content-center">
            <div class="">
                <div class="text-light">
                    Tarjetas entrantes: #
                </div>
                <div class="text-light">
                    Tarjetas salientes: #
                </div>
                <div class="text-light">
                    Tarjetas rechazadas: #
                </div>
            </div>
        </div>
        <div class="col-5 d-flex flex-row p-0">
            <div class="col-6 p-0 d-flex justify-content-center">
                <div class="text-left">
                    <div class="text-light ">
                        Tarjetas entrantes: #
                    </div>
                    <div class="text-light">
                        Tarjetas salientes: #
                    </div>
                    <div class="text-light">
                        Tarjetas rechazadas: #
                    </div>
                </div>
            </div>
            <div class="col-6 p-0 d-flex justify-content-center">
                <div>
                    <div class="text-light">
                        Tarjetas entrantes: #
                    </div>
                    <div class="text-light">
                        Tarjetas salientes: #
                    </div>
                    <div class="text-light">
                        Tarjetas rechazadas: #
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-5 d-flex flex-row my-2" style="height: 20rem;">
        <div class="col-2 p-0 h-100 d-flex align-items-center">
            <div>
                <div class="text-light">
                    Tarjetas entrantes: #
                </div>
                <div class="text-light">
                    Tarjetas salientes: #
                </div>
                <div class="text-light">
                    Tarjetas rechazadas: #
                </div>
            </div>
        </div>
        <div class="col-3 p-0 h-100">
            <a href="UR10">
                <img src="img/cobot.png" alt="" class="w-100 h-100">
            </a>
        </div>
        <div class="col-7 h-100">
            <div class="row h-50">
                <div class="col-6 p-0 h-100">
                    <a href="ICI027">
                        <img src="img/ICI027.png" alt="" class="w-100 h-100">
                    </a>
                </div>
                <div class="col-6 p-0 h-100">
                    <a href="Jinguan027">
                        <img src="img/JIN027.png" alt="" class="w-100 h-100">
                    </a>
                </div>
            </div>
            <div class="row h-50">
                <div class="col-6 p-0 h-100">
                    <a href="ICI028">
                        <img src="img/ICI028.png" alt="" class="w-100 h-100">
                    </a>
                </div>
                <div class="col-6 p-0 h-100">
                    <a href="Jinguan028">
                        <img src="img/JIN028.png" alt="" class="w-100 h-100">
                    </a>
                </div>
            </div>
        </div>
    </div>
        <div class="px-5 d-flex flex-row">
        <div class="col-2  p-0">
        </div>
        <div class="col-3 p-0 d-flex justify-content-center">
            <div class="">
                <div class="text-light">
                    Tarjetas entrantes: #
                </div>
                <div class="text-light">
                    Tarjetas salientes: #
                </div>
                <div class="text-light">
                    Tarjetas rechazadas: #
                </div>
            </div>
        </div>
        <div class="col-7 d-flex flex-row p-0">
            <div class="col-6 p-0 d-flex justify-content-center">
                <div class="text-left">
                    <div class="text-light ">
                        Tarjetas entrantes: #
                    </div>
                    <div class="text-light">
                        Tarjetas salientes: #
                    </div>
                    <div class="text-light">
                        Tarjetas rechazadas: #
                    </div>
                </div>
            </div>
            <div class="col-6 p-0 d-flex justify-content-center">
                <div>
                    <div class="text-light">
                        Tarjetas entrantes: #
                    </div>
                    <div class="text-light">
                        Tarjetas salientes: #
                    </div>
                    <div class="text-light">
                        Tarjetas rechazadas: #
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include partials/footer.ejs %>
