<%- include partials/header.ejs %>
<style>
    img {
        max-height: 300px;
        height: 200px;
    }
    p {
        margin: 0;
    }
    .scara {
        width: 150px;
    }
    .ici {
        width: 200px;
    }
    .jinguan {
        width: 200px;
    }
    .mpr {
        width: 200px;
    }

</style>
<main class="mx-5 my-5">
    <div class="row">
        <div class="col d-flex flex-column justify-content-end align-items-center align-items-center">
            <a href="/scara01" class="">
                <img src="img/png/SCARA.png" class="scara">
            </a>
            <p class="text-light">SCARA 01</p>
        </div>
        <div class="col">
            <div class="text-left">
                <div class="text-light">
                    Tarjetas entrada: <span id="inputCards_ICI02"></span>
                </div>
                <div class="text-light">
                    Tarjetas salida: <span id="outputCards_ICI02"></span>
                </div>
                <div class="text-light">
                    Tarjetas rechazadas: <span id="rejectedCards_ICI02"></span>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center">
                <a href="/" class="">
                    <img src="img/png/ICI.png" class="ici">
                </a>
                <p class="text-light">ICI 035</p>
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-end align-items-center">
            <a href="/" class="">
                <img src="img/png/SCARA.png" class="scara">
            </a>
            <p class="text-light">SCARA</p>
        </div>
        <div class="col">
            <div class="text-left">
                <div class="text-light">
                    Tarjetas entrada: <span id="inputCards_ICI02"></span>
                </div>
                <div class="text-light">
                    Tarjetas salida: <span id="outputCards_ICI02"></span>
                </div>
                <div class="text-light">
                    Tarjetas rechazadas: <span id="rejectedCards_ICI02"></span>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center">
                <a href="/" class="">
                    <img src="img/png/Jinguan.png" class="jinguan">
                </a>
                <p class="text-light">Jinguan 001</p>
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-end align-items-center">
            <a href="/" class="">
                <img src="img/png/SCARA.png" class="scara">
            </a>
            <p class="text-light">SCARA</p>
        </div>
        <div class="col">
            <div class="text-left">
                <div class="text-light">
                    Tarjetas entrada: <span id="inputCards_ICI02"></span>
                </div>
                <div class="text-light">
                    Tarjetas salida: <span id="outputCards_ICI02"></span>
                </div>
                <div class="text-light">
                    Tarjetas rechazadas: <span id="rejectedCards_ICI02"></span>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center">
                <a href="/" class="">
                    <img src="img/png/MPR.png" class="mpr">
                </a>
                <p class="text-light">MPR 3KU</p>
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-end align-items-center">
            <a href="/" class="">
                <img src="img/png/SCARA.png" class="scara">
            </a>
            <p class="text-light">SCARA</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="d-flex flex-column align-items-start">
                <div class="d-flex flex-column align-items-center">
                    <p class="text-light">ICI 033</p>
                    <a href="/" class="">
                        <img src="img/png/ICI.png" class="ici">
                    </a>
                    <div class="d-flex flex-column align-items-start w-100">
                        <div class="text-light">
                            Tarjetas entrada: <span id="inputCards_ICI02"></span>
                        </div>
                        <div class="text-light">
                            Tarjetas salida: <span id="outputCards_ICI02"></span>
                        </div>
                        <div class="text-light">
                            Tarjetas rechazadas: <span id="rejectedCards_ICI02"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column align-items-end">
                <div class="d-flex flex-column align-items-center">
                    <p class="text-light">HDK</p>
                    <a href="/" class="">
                        <img src="img/png/MPR.png" class="mpr">
                    </a>
                    <div class="d-flex flex-column align-items-start w-100">
                        <div class="text-light">
                            Tarjetas entrada: <span id="inputCards_ICI02"></span>
                        </div>
                        <div class="text-light">
                            Tarjetas salida: <span id="outputCards_ICI02"></span>
                        </div>
                        <div class="text-light">
                            Tarjetas rechazadas: <span id="rejectedCards_ICI02"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    setInterval(() => {
        $.get('/index/getData', (data) => {
            console.log(data);
            const { 
                _Metronic, 
                _ICI01, 
                _Jinguan01, 
                _MPR01, 
                _ICI02, 
                _Jinguan02, 
                _MPR02
            } = data;

            $('#inputCards_ICI02').text(_ICI02.lotCounter.inputA);
            $('#outputCards_ICI02').text(_ICI02.lotCounter.output);
            $('#rejectedCards_ICI02').text(_ICI02.lotCounter.rejected);

            $('#inputCards_Jinguan02').text(_Jinguan02.lotCounter.inputA);
            $('#outputCards_Jinguan02').text(_Jinguan02.lotCounter.output);
            $('#rejectedCards_Jinguan02').text(_Jinguan02.lotCounter.rejected);

            $('#inputCards_MPR02').text(_MPR02.lotCounter.inputA);
            $('#outputCards_MPR02').text(_MPR02.lotCounter.output);
            $('#rejectedCards_MPR02').text(_MPR02.lotCounter.rejected);
            
            $('#inputCardsA_Metronic').text(_Metronic.lotCounter.inputA);
            $('#inputCardsB_Metronic').text(_Metronic.lotCounter.inputB);
            $('#outputCards_Metronic').text(_Metronic.lotCounter.output);
            $('#rejectedCards_Metronic').text(_Metronic.lotCounter.rejected);

            $('#inputCards_ICI01').text(_ICI01.lotCounter.inputA);
            $('#outputCards_ICI01').text(_ICI01.lotCounter.output);
            $('#rejectedCards_ICI01').text(_ICI01.lotCounter.rejected);

            $('#inputCards_Jinguan01').text(_Jinguan01.lotCounter.inputA);
            $('#outputCards_Jinguan01').text(_Jinguan01.lotCounter.output);
            $('#rejectedCards_Jinguan01').text(_Jinguan01.lotCounter.rejected);

            $('#inputCards_MPR01').text(_MPR01.lotCounter.inputA);
            $('#outputCards_MPR01').text(_MPR01.lotCounter.output);
            $('#rejectedCards_MPR01').text(_MPR01.lotCounter.rejected);

        });
    }, 1000);
</script>
<%- include partials/footer.ejs %>
