<%- include partials/header.ejs %>

  <main class="">
    <div class="container-fluid flex-fill mx-auto py-5" >
      <div class="row w-100 mx-auto">
        <div class="col-12 col-lg-12">
          <div class="card container w-100 py-3 bg-light shadow overflow-auto" style="max-height:40rem;">
            <div class="card-header text-center font-weight-bold bg-dark text-light">INFORMACIÓN DE PRODUCCIÓN</div>
            <table class="table table-bordered">
              <thead class="">
                <tr class="">
                  <th class="text-center pt-3" scope="col">SISTEMA</th>
                  <th class="text-center pt-3" scope="col">DATO</th>
                  <th class="text-center pt-3" scope="col">TURNO ACTUAL</th>
                  <th class="text-center pt-3" scope="col">TURNO ANTERIOR</th>
                  <th class="text-center pt-3" scope="col">TURNO ANTERIOR 2</th>
                </tr>
              </thead>
              <tbody>
                <tr class="Metronic" style="background-color: rgba(1,1,1,0.1);">
                  <th scope="row" rowspan="3" class="align-middle">METRONIC-044</th>
                  <td class="text-center align-middle">PRODUCCIÓN</td>
                  <td class="actualShift text-center align-middle"><div class="inputA">--</div><div class="inputB">--</div></td>
                  <td class="lastShift text-center align-middle"><div class="inputA">--</div><div class="inputB">--</div></td>
                  <td class="lastShift2 text-center align-middle"><div class="inputA">--</div><div class="inputB">--</div></td>
                </tr>
                <tr class="Metronic border" style="background-color: rgba(1,1,1,0.1);">
                  <td class="text-center align-middle">TIEMPO PRENDIDO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOn">--</div>
                </tr>
                <tr class="Metronic" style="background-color: rgba(1,1,1,0.1);">
                  <td class="text-center align-middle">TIEMPO APAGADO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOff">--</div>
                </tr>
                <tr class="ICI01">
                  <th scope="row" rowspan="3" class="align-middle">ICI-034</th>
                  <td class="text-center align-middle">PRODUCCIÓN</td>
                  <td class="actualShift text-center align-middle"><div class="input">--</div></td>
                  <td class="lastShift text-center align-middle"><div class="input">--</div></td>
                  <td class="lastShift2 text-center align-middle"><div class="input">--</div></td>
                </tr>
                <tr class="ICI01">
                  <td class="text-center align-middle">TIEMPO PRENDIDO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOn">--</div>
                </tr>
                <tr class="ICI01">
                  <td class="text-center align-middle">TIEMPO APAGADO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOff">--</div>
                </tr>
                <tr class="ICI02" style="background-color: rgba(1,1,1,0.1);">
                  <th scope="row" rowspan="3" class="align-middle">ICI-032</th>
                  <td class="text-center align-middle">PRODUCCIÓN</td>
                  <td class="actualShift text-center align-middle"><div class="input">--</div></td>
                  <td class="lastShift text-center align-middle"><div class="input">--</div></td>
                  <td class="lastShift2 text-center align-middle"><div class="input">--</div></td>
                </tr>
                <tr class="ICI02" style="background-color: rgba(1,1,1,0.1);">
                  <td class="text-center align-middle">TIEMPO PRENDIDO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOn">--</div>
                </tr>
                <tr class="ICI02" style="background-color: rgba(1,1,1,0.1);">
                  <td class="text-center align-middle">TIEMPO APAGADO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOff">--</div>
                </tr>
                <tr class="JINGUAN01">
                  <th scope="row" rowspan="3" class="align-middle">JINGUAN-009</th>
                  <td class="text-center align-middle">PRODUCCIÓN</td>
                  <td class="actualShift text-center align-middle"><div class="input">--</div></td>
                  <td class="lastShift text-center align-middle"><div class="input">--</div></td>
                  <td class="lastShift2 text-center align-middle"><div class="input">--</div></td>
                </tr>
                <tr class="JINGUAN01">
                  <td class="text-center align-middle">TIEMPO PRENDIDO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOn">--</div>
                </tr>
                <tr class="JINGUAN01">
                  <td class="text-center align-middle">TIEMPO APAGADO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOff">--</div>
                </tr>
                <tr class="JINGUAN02" style="background-color: rgba(1,1,1,0.1);">
                  <th scope="row" rowspan="3" class="align-middle">JINGUAN-004</th>
                  <td class="text-center align-middle">PRODUCCIÓN</td>
                  <td class="actualShift text-center align-middle"><div class="input">--</div></td>
                  <td class="lastShift text-center align-middle"><div class="input">--</div></td>
                  <td class="lastShift2 text-center align-middle"><div class="input">--</div></td>
                </tr>
                <tr class="JINGUAN02" style="background-color: rgba(1,1,1,0.1);">
                  <td class="text-center align-middle">TIEMPO PRENDIDO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOn">--</div>
                </tr>
                <tr class="JINGUAN02" style="background-color: rgba(1,1,1,0.1);">
                  <td class="text-center align-middle">TIEMPO APAGADO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOff">--</div>
                </tr>
                <tr class="MPR01">
                  <th scope="row" rowspan="3" class="align-middle">MPR-011</th>
                  <td class="text-center align-middle">PRODUCCIÓN</td>
                  <td class="actualShift text-center align-middle"><div class="input">--</div></td>
                  <td class="lastShift text-center align-middle"><div class="input">--</div></td>
                  <td class="lastShift2 text-center align-middle"><div class="input">--</div></td>
                </tr>
                <tr class="MPR01">
                  <td class="text-center align-middle">TIEMPO PRENDIDO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOn">--</div>
                </tr>
                <tr class="MPR01">
                  <td class="text-center align-middle">TIEMPO APAGADO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOff">--</div>
                </tr>
                <tr class="MPR02" style="background-color: rgba(1,1,1,0.1);">
                  <th scope="row" rowspan="3" class="align-middle">MPR-329</th>
                  <td class="text-center align-middle">PRODUCCIÓN</td>
                  <td class="actualShift text-center align-middle"><div class="input">--</div></td>
                  <td class="lastShift text-center align-middle"><div class="input">--</div></td>
                  <td class="lastShift2 text-center align-middle"><div class="input">--</div></td>
                </tr>
                <tr class="MPR02" style="background-color: rgba(1,1,1,0.1);">
                  <td class="text-center align-middle">TIEMPO PRENDIDO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOn">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOn">--</div>
                </tr>
                <tr class="MPR02" style="background-color: rgba(1,1,1,0.1);">
                  <td class="text-center align-middle">TIEMPO APAGADO [minutos]</td>
                  <td class="actualShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift text-center align-middle"><div class="machineOff">--</div>
                  <td class="lastShift2 text-center align-middle"><div class="machineOff">--</div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>
    var dataProduction = <%- dataProduction%>;
    console.log(dataProduction);
    setInterval(function (){
      $.get('production/getData', (data) => {
        dataProduction = data;
        console.log(dataProduction);
      });
      $('.Metronic > .actualShift > .inputA').text(dataProduction.Metronic.actualShift.inputA);
      $('.Metronic > .actualShift > .inputB').text(dataProduction.Metronic.actualShift.inputB);
      $('.Metronic > .lastShift > .inputA').text(dataProduction.Metronic.lastShift.inputA);
      $('.Metronic > .lastShift > .inputB').text(dataProduction.Metronic.lastShift.inputB);
      $('.Metronic > .lastShift2 > .inputA').text(dataProduction.Metronic.lastShift2.inputA);
      $('.Metronic > .lastShift2 > .inputB').text(dataProduction.Metronic.lastShift2.inputB);
      $('.Metronic > .actualShift > .machineOn').text(dataProduction.Metronic.actualShift.machineOn);
      $('.Metronic > .lastShift > .machineOn').text(dataProduction.Metronic.lastShift.machineOn);
      $('.Metronic > .lastShift2 > .machineOn').text(dataProduction.Metronic.lastShift2.machineOn);
      $('.Metronic > .actualShift > .machineOff').text(dataProduction.Metronic.actualShift.machineOff);
      $('.Metronic > .lastShift > .machineOff').text(dataProduction.Metronic.lastShift.machineOff);
      $('.Metronic > .lastShift2 > .machineOff').text(dataProduction.Metronic.lastShift2.machineOff);

      $('.ICI01 > .actualShift > .input').text(dataProduction.ICI01.actualShift.input);
      $('.ICI01 > .lastShift > .input').text(dataProduction.ICI01.lastShift.input);
      $('.ICI01 > .lastShift2 > .input').text(dataProduction.ICI01.lastShift2.input);
      $('.ICI01 > .actualShift > .machineOn').text(dataProduction.ICI01.actualShift.machineOn);
      $('.ICI01 > .lastShift > .machineOn').text(dataProduction.ICI01.lastShift.machineOn);
      $('.ICI01 > .lastShift2 > .machineOn').text(dataProduction.ICI01.lastShift2.machineOn);
      $('.ICI01 > .actualShift > .machineOff').text(dataProduction.ICI01.actualShift.machineOff);
      $('.ICI01 > .lastShift > .machineOff').text(dataProduction.ICI01.lastShift.machineOff);
      $('.ICI01 > .lastShift2 > .machineOff').text(dataProduction.ICI01.lastShift2.machineOff);

      $('.ICI02 > .actualShift > .input').text(dataProduction.ICI02.actualShift.input);
      $('.ICI02 > .lastShift > .input').text(dataProduction.ICI02.lastShift.input);
      $('.ICI02 > .lastShift2 > .input').text(dataProduction.ICI02.lastShift2.input);
      $('.ICI02 > .actualShift > .machineOn').text(dataProduction.ICI02.actualShift.machineOn);
      $('.ICI02 > .lastShift > .machineOn').text(dataProduction.ICI02.lastShift.machineOn);
      $('.ICI02 > .lastShift2 > .machineOn').text(dataProduction.ICI02.lastShift2.machineOn);
      $('.ICI02 > .actualShift > .machineOff').text(dataProduction.ICI02.actualShift.machineOff);
      $('.ICI02 > .lastShift > .machineOff').text(dataProduction.ICI02.lastShift.machineOff);
      $('.ICI02 > .lastShift2 > .machineOff').text(dataProduction.ICI02.lastShift2.machineOff);

      $('.JINGUAN01 > .actualShift > .input').text(dataProduction.Jinguan01.actualShift.input);
      $('.JINGUAN01 > .lastShift > .input').text(dataProduction.Jinguan01.lastShift.input);
      $('.JINGUAN01 > .lastShift2 > .input').text(dataProduction.Jinguan01.lastShift2.input);
      $('.JINGUAN01 > .actualShift > .machineOn').text(dataProduction.Jinguan01.actualShift.machineOn);
      $('.JINGUAN01 > .lastShift > .machineOn').text(dataProduction.Jinguan01.lastShift.machineOn);
      $('.JINGUAN01 > .lastShift2 > .machineOn').text(dataProduction.Jinguan01.lastShift2.machineOn);
      $('.JINGUAN01 > .actualShift > .machineOff').text(dataProduction.Jinguan01.actualShift.machineOff);
      $('.JINGUAN01 > .lastShift > .machineOff').text(dataProduction.Jinguan01.lastShift.machineOff);
      $('.JINGUAN01 > .lastShift2 > .machineOff').text(dataProduction.Jinguan01.lastShift2.machineOff);

      $('.JINGUAN02 > .actualShift > .input').text(dataProduction.Jinguan02.actualShift.input);
      $('.JINGUAN02 > .lastShift > .input').text(dataProduction.Jinguan02.lastShift.input);
      $('.JINGUAN02 > .lastShift2 > .input').text(dataProduction.Jinguan02.lastShift2.input);
      $('.JINGUAN02 > .actualShift > .machineOn').text(dataProduction.Jinguan02.actualShift.machineOn);
      $('.JINGUAN02 > .lastShift > .machineOn').text(dataProduction.Jinguan02.lastShift.machineOn);
      $('.JINGUAN02 > .lastShift2 > .machineOn').text(dataProduction.Jinguan02.lastShift2.machineOn);
      $('.JINGUAN02 > .actualShift > .machineOff').text(dataProduction.Jinguan02.actualShift.machineOff);
      $('.JINGUAN02 > .lastShift > .machineOff').text(dataProduction.Jinguan02.lastShift.machineOff);
      $('.JINGUAN02 > .lastShift2 > .machineOff').text(dataProduction.Jinguan02.lastShift2.machineOff);

      $('.MPR01 > .actualShift > .input').text(dataProduction.MPR01.actualShift.input);
      $('.MPR01 > .lastShift > .input').text(dataProduction.MPR01.lastShift.input);
      $('.MPR01 > .lastShift2 > .input').text(dataProduction.MPR01.lastShift2.input);
      $('.MPR01 > .actualShift > .machineOn').text(dataProduction.MPR01.actualShift.machineOn);
      $('.MPR01 > .lastShift > .machineOn').text(dataProduction.MPR01.lastShift.machineOn);
      $('.MPR01 > .lastShift2 > .machineOn').text(dataProduction.MPR01.lastShift2.machineOn);
      $('.MPR01 > .actualShift > .machineOff').text(dataProduction.MPR01.actualShift.machineOff);
      $('.MPR01 > .lastShift > .machineOff').text(dataProduction.MPR01.lastShift.machineOff);
      $('.MPR01 > .lastShift2 > .machineOff').text(dataProduction.MPR01.lastShift2.machineOff);

      $('.MPR02 > .actualShift > .input').text(dataProduction.MPR02.actualShift.input);
      $('.MPR02 > .lastShift > .input').text(dataProduction.MPR02.lastShift.input);
      $('.MPR02 > .lastShift2 > .input').text(dataProduction.MPR02.lastShift2.input);
      $('.MPR02 > .actualShift > .machineOn').text(dataProduction.MPR02.actualShift.machineOn);
      $('.MPR02 > .lastShift > .machineOn').text(dataProduction.MPR02.lastShift.machineOn);
      $('.MPR02 > .lastShift2 > .machineOn').text(dataProduction.MPR02.lastShift2.machineOn);
      $('.MPR02 > .actualShift > .machineOff').text(dataProduction.MPR02.actualShift.machineOff);
      $('.MPR02 > .lastShift > .machineOff').text(dataProduction.MPR02.lastShift.machineOff);
      $('.MPR02 > .lastShift2 > .machineOff').text(dataProduction.MPR02.lastShift2.machineOff);
    }, 1000);
  </script>
<%- include partials/footer.ejs %>